*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0c87f3;
    padding: 200px 300px 0 300px;
    font-size: 1.4rem;
}

.utama{
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 30px;
    text-align: center;
}

table{
    width: 100%;
}   

.h1{
    font-size: 2.5rem; /* Besarkan sikit saiz */
    text-align: center;
    margin-bottom: 20px;
    width: 100%; /* Pastikan dia ambil ruang penuh supaya center tu tepat */
    grid-column: 1 / -1; /* Kalau h1 ni duk dalam div class="utama" */
    color: rgb(242, 255, 0);
}


.beli{
    background-color:rgb(8, 219, 234);
    border-radius: 3px;
    padding: 5px 60px 5px 60px;
    transition: .2;
    outline: none;
    border: none;
}   

.beli:hover{
    cursor: pointer;
    background-color: rgb(30, 91, 126);
}   

.buang{
    background-color:rgb(32, 155, 200);
    border-radius: 3px;
    padding: 5px 60px 5px 60px;
    transition: .2;
    outline: none;
    border: none;
    border: none;
    display: flex;         
    align-items: center;    
    gap: 8px;
}   

.buang:hover{
    cursor: pointer;
    background-color: rgb();
}

.pertama{
    background-color: rgb(238, 255, 0);
    padding: 30px;
}   

.kedua{
    background-color: cadetblue;
    padding: 30px;
}

.kandungan-kedua{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
}

.kedua-padding{
    padding: 20px;
}   

.jumlah{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    margin: 30px;
    
} 

th, td{
    padding: 15px;
}   


.bold{
    font-weight: bold;
}